
  .navigate{
       background:#191918;
       height:510px;
       width: 20%;
      }

      ul{
       list-style:none; 
       width: 243px;
      }

      li {
       
       background-color:#444;
       /*box-shadow: 3px 3px 3px #fff;*/
       padding: 10px;
       margin-left: -40px;
       border-bottom: 1px solid #d7254e;
      }

      a {
      text-decoration: none;
      color:#fff;
      font-size: 12px;
      }

      li:hover {
       background-color: #729EBF;
      }

       li a:hover {
       text-decoration: none;
      }

      
    